<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
body {
  background-color: white;
  
}
</style>
</head>
<body>

<div>

<table width="600" style="max-width:600px;margin:0 auto" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody><tr>
    <td style="border-right:#e6e6e6 solid 1px;border-left:#e6e6e6 solid 1px;border-top:#e6e6e6 solid 1px;border-bottom:#e6e6e6 solid 1px">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td width="5%"> </td>
                <td width="90%">
                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr>
                      <td style="text-align: center;">
 						<span style = "font-size:40px;color:#c43b42;font-style:italic; font-weight:bold;">Shaadi</span> <span style="font-size:20px;color:#c43b42;font-weight:bold;">Karlo</span>
 						<hr style="border: 1px solid #c43b42;">

                      </td>
                    </tr>

                    <tr>
                      <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding:10px 30px">
                          <tbody><tr>
                            <td height="30"></td>
                          </tr>

	<tr>
	  <td style="color:#000;line-height:1.1em;font-size:1.4em">Dear <span style="font-weight:bold"><%= data.to_send_name %></span>,</td>
	</tr>

	<tr>
	  <td>&nbsp;</td>
	</tr>

	<tr>
	  <td style="font-size:1.1em;line-height:1.5em"> <%= data.display_name %> has sent you an interest</td>
	</tr>

	<tr>
    <% if(data.gender=='f'){ %>
		<td style="width: 50%;"><img style="height: 130px;padding: 20px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlqHbUiLagu5Mm2Hgm6-VYXWUwvvuu6dinEQ&usqp=CAU"> </td>
		<td>

     <% } %>

    <% if(data.gender=='m'){ %>
         <td style="width: 50%;"><img style="height: 130px;padding: 20px;" src="https://healerspsychiatry.com/wp-content/uploads/2019/03/face.png"> </td>
    <td>
        <% } %>

     

    
		<td>
		<span style="">

			<% if(data.age){ %>
				<%= data.age %>, 
				<% } %>

			<% if(data.height){ %>
				<%= data.height %>, 
				<% } %> 
			<% if(data.caste){ %>
				<%= data.caste %>, 
				<% } %>

			<% if(data.religion){ %>
				<%= data.religion %>, 
				<% } %>

			<% if(data.occupation){ %>
				<%= data.occupation %>, 
				<% } %>

			<% if(data.income){ %>
				<%= data.income %>, 
				<% } %>

			</span>
			<a style="display: block; height:30px;width:150px;background:#c43b42;color:white;text-align:center;line-height:30px;font-size:16px;padding: 3px; cursor: pointer; text-decoration: none;" href="<%= data.profile_url %>">View Profile</a>
		</td>
		</td>
	</tr>

	<tr>
		<td>&nbsp;</td>
	</tr>

<tr>
	<td>&nbsp;</td>
</tr>

<tr>

</tr>


                          <tr>
                            <td height="15">&nbsp;</td>
                          </tr>

                          <tr>
                            <td style="font-size:1.1em;line-height:1.5em">Thank you<br>Team <span class="il">Shaadikarlo</span></td>
                          </tr>


                          <tr>
                            <td height="15">&nbsp;</td>
                          </tr>


                          <tr>
                            <td>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="text-align:center">
                                <tbody>
                              </tbody></table>
                            </td>
                          </tr>

                        </tbody></table>
                      </td>
                    </tr>


                    <tr>
                      <td>
                      <div style="background-color:#c43b42;height: 50px;width: 100%;">
                      </div>
                    </tr>

                   
                  </tbody></table>
                </td>
                <td width="5%"> </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>

</div>

</body>
</html>
